body {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
}

header {
  height: 80px;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;

  padding: 0 22px;
}

header img {
  width: 75px;
  height: 53px;
}

header ion-icon {
  font-size: 45px;
}

ion-icon:hover {
  cursor: pointer;
  color: #eab93a;
}

main {
  margin: 106px 0;

  display: flex;
  flex-direction: column;
  gap: 4px;
}

.msg {
  font-size: 14px;
  line-height: 18px;

  padding: 12px 8px;
  border-radius: 2px;
}

.status-msg {
  background-color: #dcdcdc;
}

.default-msg {
  background-color: #fff;
}

.private-msg {
  background-color: #ffdede;
}

.time {
  color: #aaa;
}

.from,
.to {
  font-weight: 700;
}

footer {
  height: 80px;
  width: 100vw;

  background-color: #fff;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.05);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  bottom: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 17px;
}

footer div {
  margin-top: 10px;
  flex-grow: 1;
}

footer input {
  width: 90%;
  font-size: 18px;
  line-height: 25px;
}

footer input::placeholder {
  font-style: italic;
}

.send-info {
  color: #505050;
  font-size: 14px;
  line-height: 25px;
}

footer ion-icon {
  font-size: 26px;
}
